In [2]:
x = list([2,4,6,8])

In [6]:
x.clear()
print(x)

[]

In [7]:
y = [2,2,5,7,9]
y.count(2)

2

In [8]:
one_dict = {'data':0, 'science':1, 'is':2, 'good':3}

In [9]:
'data' in one_dict.keys()

True

In [17]:
from collections import Counter
a = Counter({'data':0, 'science':1, 'is':2, 'good':3})
print(a)
del a['data']
print(a)
Counter('data science').most_common(3)

Counter({'good': 3, 'is': 2, 'science': 1, 'data': 0})
Counter({'good': 3, 'is': 2, 'science': 1})

[('a', 2), ('c', 2), ('e', 2)]

In [26]:
fibolist=[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811]
print(fibolist[-1])
print(sum(fibolist))
fibolist.append(fibolist[-2]+fibolist[-1])
print(fibolist)
fibolist_reverse = fibolist[::-1]
print(fibolist_reverse)
fibo_29473 = 29473 in fibolist
print(fibo_29473)

317811
832039
[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946, 17711, 28657, 46368, 75025, 121393, 196418, 317811, 514229]
[514229, 317811, 196418, 121393, 75025, 46368, 28657, 17711, 10946, 6765, 4181, 2584, 1597, 987, 610, 377, 233, 144, 89, 55, 34, 21, 13, 8, 5, 3, 2, 1, 1, 0]
False

In [29]:
a = set('Data Science')
b = set('data science')
print(a - b)                              # letters in a but not in b
print(a | b)                              # letters in a or b or both
print(a & b)                              # letters in both a and b
print(a ^ b)                              # letters in a or b but not both

{'D', 'S'}
{'S', 's', 'e', ' ', 'a', 'd', 'n', 'c', 'D', 't', 'i'}
{'c', 'e', ' ', 'a', 'n', 't', 'i'}
{'S', 's', 'd', 'D'}

In [35]:
one_dict = {'data':'a', 'science':1, 'is':2, 'good':'b'}
two_dict = dict(data='a', science=1, i=2, good='b')
print(one_dict)
print(two_dict)

{'data': 'a', 'science': 1, 'is': 2, 'good': 'b'}
{'data': 'a', 'science': 1, 'i': 2, 'good': 'b'}

In [39]:
fibo_dict = {}
fibo_dict[2] = 2 in fibolist
fibo_dict[9999] = 9999 in fibolist
print(fibo_dict)

{2: True, 9999: False}